.watchlist {
    width: 35%;
    height: 80vh;
    overflow-y: scroll;
    margin-right: 20px;
    padding: 10px 10px;
    display: block;
    border-radius: 15px;
    min-width: 360px;
    background-color: white;
    border-color: #979797;
    border-width: 1px;
    border-style: solid;
}

@media only screen and (max-width: 825px) {
    .watchlist {
        height: 100%;
        flex-direction: column;
        margin-bottom: 20px;
    }
}