.bookstore-book {
    background-color: white;
    width: 200px;
    min-width: 200px;
    height: 330px;
    border-radius: 15px;
    margin: 3px 3px;
    padding: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.bookstore-book:hover {
    transform: scale(1.02);
}

.bookstore-book img {
    align-self: center;
    justify-self: center;
    max-width: 180px;
}
