#root {

  font-family: "Open Sans", sans-serif;
}

html {
  background-image: url("https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

body {
  margin: 0;
}

.login_info {
  margin-left: auto
}






