html {
  background-image: url("pikrepo.com.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

body {
  margin: 0;
}






