@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html{
        @apply bg-background-image;
        @apply bg-no-repeat;
        @apply bg-cover;
        @apply bg-fixed;
        @apply bg-center;
        @apply relative;
    }

    body::-webkit-scrollbar{
        @apply hidden;
    }

    ::-webkit-scrollbar {
        @apply bg-white;
        @apply rounded-2xl;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-blue-900;
        @apply rounded-2xl;
        @apply border-4;
        @apply border-solid;
        @apply border-white;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-blue-600;
    }

    ::-webkit-scrollbar-button {
        @apply hidden;
    }

    .min-w-52 {
        min-width: 13rem;
    }

    .max-h-160 {
        max-height: 40rem;
    }

    .min-w-80 {
        min-width: 20rem;
    }

}





